# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dblite

# Precompiled Headers
*.gch
*.pch
*.pcm

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*app

# more
*.root
*.lis
*color_SConscript